[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after{
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/* Style for header */
.header{
  border: 2px solid grey;
  height: 100px;
/* relative heights in percentages do not work here or in footer */
  padding: 2%;
  box-sizing: border-box;
}

.logo{
  width: auto;
  height: 96%;
  border:0;
  float: left;
  border-radius: 50%;
  display: inline;
}
.header h1{
  float:left;
  text-align: justify;
  padding-left: 2%;
  width:20%;
}
.links{
  float: right;
  font-size: 14px;
  padding-right: 2%;
}

/* general formatting */
input{
  margin-bottom: 2%;
  margin-right: 2px;
}

select{
  margin-bottom: 2%;
}

content{
  width: 100%;
  height: 80%;
}

p{
  font-family: verdana;
  font-size: 12px;
}

/* Row 1 (Personal Info) Style */
.personalinfo{
  width: 100%;
  font-size: 14px;
  height: 150px;
}

.row1title{
  width: 33%;
  float: left;
}

.column1{
  width: 33%;
  float:left;
}

.column2{
  width: 33%;
  float:right;
}

/* Row 2 (Billing Info) Style */
.billinginfo{
  width: 100%;
  font-size: 14px;
  height: 200px;
}

.row2title{
  width: 33%;
  float: left;
}

.billingcolumn{
  width: 66%;
  float:left;
}

 /* Footer */
footer{
  height: 100px;
  border: 2px solid grey;
  bottom:0px;
  width: 100%;
  box-sizing: border-box;
}
.footer p{
  width: 10%;
  align:left;
}
.quad{
  border-radius: 1%;
  height: 60%;
  float:right;
  padding:2%;
}

.rect{
  height: 60%;
  float: right;
  padding:2%;
}
