@media screen and (min-width: 769px){
  .site{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-row-gap: 2em;
    grid-template-areas:
        "header header links"
        "pi-title pers-info1 pers-info2"
        "bi-title bill-info bill-info"
        "footer footer socialmedia";
  }

  /* Borders and horizontal lines */
  .header{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background: url(http://gen4congress.com/wp-content/uploads/2017/08/awesome-and-beautiful-white-marble-background-2-minimalist-white-marble-background-with-ideas-inspiration-46042.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  }
  .links{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: right;
    background: url(http://gen4congress.com/wp-content/uploads/2017/08/awesome-and-beautiful-white-marble-background-2-minimalist-white-marble-background-with-ideas-inspiration-46042.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pi-title{
    border-top: 1px solid black;
  }
  .pers-info1{
    border-top: 1px solid black;
  }
  .pers-info2{
    border-top: 1px solid black;
  }
  .bi-title{
    border-top: 1px solid black;
  }
  .bill-info{
    border-top: 1px solid black;
  }
  .footertext{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background: url(http://gen4congress.com/wp-content/uploads/2017/08/awesome-and-beautiful-white-marble-background-2-minimalist-white-marble-background-with-ideas-inspiration-46042.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .socialmedia{
      border-top: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      background: url(http://gen4congress.com/wp-content/uploads/2017/08/awesome-and-beautiful-white-marble-background-2-minimalist-white-marble-background-with-ideas-inspiration-46042.jpg);
      background-size: cover;
      background-repeat: no-repeat;
  }
  .quad{
    float: right;
  }
  .rect{
    float: right;
  }
  body{
    color: #4F4763;
  }
}

@media screen and (max-width: 768px){ /*tablet*/
  .site{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4em 4em 1fr 1fr 4em 2fr 1fr;
    grid-row-gap: 0px;
    grid-template-areas:
      "header header"
      "links links"
      "pi-title pi-title"
      "pers-info1 pers-info2"
      "pers-info1 pers-info2"
      "bi-title bi-title"
      "bill-info bill-info"
      "footer socialmedia";
  }
  /* Borders and horizontal lines */
  .pi-title{
    border-top: 1px solid black;
  }
  .bi-title{
    border-top: 1px solid black;
  }
  .footertext{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .socialmedia{
      border-right: 1px solid black;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
  }

}

@media screen and (max-width: 600px){ /*mobile*/
  .site{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4em 4em 1fr 1fr 4em 2fr 2em 1fr;
    grid-template-areas:
      "header"
      "links"
      "pi-title"
      "pers-info1"
      "pers-info2"
      "bi-title"
      "bill-info"
      "footer"
      "socialmedia"
  }
  /* Borders and horizontal lines */
  .links{
    border-bottom: 1px solid black;
  }
  .pers-info2{
    border-bottom: 1px solid black;
  }
  .footertext{
    border-top: 1px solid black;
  }
  .socialmedia{
      border-bottom: 1px solid black;
  }
  .quad{
    float: center;
  }
  .rect{
    float: center;
  }
}

/* General style elements, in order as they are shown on website */
.header{
  grid-area: header;
}

.icon i{
  font-size: 60px;
}
.icon{
  display: inline-grid;
}
.header-text{
  display: inline-grid;
  vertical-align: top;
}

.links{
  grid-area: links;
}
.links p{
  vertical-align: middle;
}

.pi-title{
  grid-area: pi-title;
}

input{
  margin-bottom: 1em;
  margin-right: 1em;
}

select{
  margin-bottom: 1em;
}

.pers-info1{
  grid-area: pers-info1;
}

.pers-info2{
  grid-area: pers-info2;
}

.bi-title{
  grid-area: bi-title;
}

.bill-info{
  grid-area: bill-info;
}

.footertext{
  grid-area: footer;
}

.socialmedia{
  grid-area: socialmedia;
}

.quad{
  border-radius: 1%;
  height: 50px;
  padding:2%;
  display: inherit;
}

.rect{
  height: 50px;
  width:70px;
  padding:2%;
  display: inherit;
}
