
.site{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 2fr 3fr 3fr 1fr;
  grid-template-areas:
      "header . links"
      "pi-title pers-info1 pers-info2"
      "bi-title bill-info bill-info"
      "footer footer footer";

}

@media screen and (max-width: 768px){ /*tablet*/
  .site{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr) 2fr 1fr 2fr 1fr;
    grid-template-areas:
      "header header"
      "links links"
      "pi-title pi-title"
      "pers-info1 pers-info2"
      "pers-info1 pers-info2"
      "bi-title bi-title"
      "bill-info bill-info"
      "bill-info bill-info"
      "footer footer";
  }
}

@media screen and (max-width: 600px){ /*mobile*/
  .site{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) 2fr 1fr 2fr 1fr;
    grid-template-areas:
      "header"
      "links"
      "pi-title"
      "pers-info1"
      "pers-info2"
      "bi-title"
      "bill-info"
      "footer"
  }
}


/* Style for header */
.header{
  grid-area: header;
}

.links{
  grid-area: links;
}

.pi-title{
  grid-area: pi-title;
}

.pers-info1{
  grid-area: pers-info1;
}

.pers-info2{
  grid-area: pers-info2;
}

.bi-title{
  grid-area: bi-title;
}

.bill-info{
  grid-area: bill-info;
}

.footer{
  grid-area: footer;
}

.md-48{
  font-size: 50px;
}
